.tabs {
    @include grid(3, $gap / 3);

    button {
        padding: 1rem;
        background-color: $white;
        border: none;
        font-size: 1.4rem;
        font-weight: $bold;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &.current {
            background-color: $blue;
            color: $white;
        }
    }
}