html {
    background-color: $dark;
}

.contenedor-estetica {
    min-height: 100vh;

    @include tablet {
        @include grid(2, $gap / 2);
    }

    .imagen {
        height: 30rem;
        background-image: url(../../build/img/1.webp);
        background-size: cover;
        background-position: center center;

        @include tablet {
            height: auto;
        }
    }
}

.app {
    width: 95%;
    margin: 0 auto;
    padding-top: $gap / 2;

    .section {
        display: none;
        margin-top: $gap / 2;
    }
}

.visible {
    display: block!important;
}